<Configuration status="INFO">
    <Appenders>
        <Socket name="logstash" host="logstash" port="5044" protocol="TCP">
            <JSONLayout />
        </Socket>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="logstash"/>
        </Root>
    </Loggers>
</Configuration>
