<!DOCTYPE html>
<html>
<head>
    <title>Welcome to EMOFY!</title>
</head>
<body>
    <h1>EMOFY USER'S TERMS OF SERVICE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis dui eu magna ultrices luctus. Duis sit amet commodo elit. Donec et vestibulum augue. Phasellus porttitor elit nec est eleifend auctor. Nulla vitae tortor vitae risus egestas rhoncus. Nam sed felis lacinia, posuere sem in, lacinia nunc. Vestibulum vel justo mauris. Aenean ex sapien, placerat eu elementum semper, consectetur eget magna. Etiam nec leo interdum, mattis purus et, auctor urna. Morbi at pretium orci. Suspendisse tempor elementum eros, ut feugiat risus eleifend quis.

        Cras euismod pellentesque sollicitudin. In eget lectus ut lectus hendrerit egestas. Nulla ac arcu luctus enim porttitor porta. Sed eget magna bibendum risus efficitur fermentum. Aliquam malesuada orci ante, at ullamcorper elit ullamcorper quis. Praesent venenatis neque eget rhoncus ultricies. Aenean nec posuere nisi. Sed ac suscipit est. Nulla mattis convallis lacus ac laoreet. Vivamus eget sem metus. Proin eget dictum lectus. Nam eget est sed erat iaculis molestie non vel tortor. Aenean a tincidunt orci. Ut pretium nunc et mi faucibus, ut placerat nibh posuere. Mauris tristique massa eu arcu efficitur volutpat. Fusce molestie tincidunt nisi, gravida rutrum sem suscipit ac.
        
        Aliquam tempus lacus at nisl ultricies, ac accumsan enim porta. In hac habitasse platea dictumst. Nunc porttitor, augue a placerat vulputate, lacus turpis porttitor tortor, quis condimentum ex turpis a ex. In a vulputate tellus. Phasellus pulvinar dignissim ex, in vulputate eros blandit non. Cras et erat sed urna cursus posuere. Phasellus facilisis non nisi ut finibus. Aenean vitae eleifend nunc. Ut sed nulla at velit sollicitudin condimentum rutrum id diam. Vivamus a nulla condimentum, semper diam at, ornare est. Duis ultricies congue libero, in euismod dui sodales nec. Sed iaculis sagittis sagittis. Nulla ullamcorper nulla id faucibus viverra. Mauris in erat ut nisi rutrum cursus. Duis scelerisque quis quam sed pretium.
        
        Morbi in ipsum a augue vehicula interdum. Maecenas odio ante, pulvinar et nisi sit amet, ullamcorper viverra turpis. Nam ultricies faucibus est, in sollicitudin sapien porta non. Mauris massa arcu, fermentum eget enim in, accumsan imperdiet urna. Maecenas id enim turpis. Duis pellentesque consectetur maximus. Etiam pharetra sapien nec lectus interdum, et congue dolor rhoncus.
        
        Nullam imperdiet vulputate ullamcorper. Nunc pellentesque nulla sed pulvinar lobortis. Donec eu erat ante. Suspendisse vel laoreet nulla. Maecenas elit mauris, commodo ut lobortis eu, vestibulum commodo lectus. Cras vel consequat ipsum. Curabitur nec ante finibus, viverra dui gravida, faucibus ligula. Sed ut enim placerat, sollicitudin risus quis, vestibulum felis. Morbi elementum turpis ut luctus imperdiet. Mauris eleifend accumsan elementum. Vivamus maximus tincidunt sagittis. Fusce suscipit, mauris in molestie vestibulum, sapien ligula fermentum dui, ac gravida est justo vitae orci. Pellentesque at orci et ligula vulputate interdum id nec nisi. Vestibulum bibendum egestas nunc vel dapibus.</p>
    
        <div class="container">

            <a href="/register">    
                Go back to registration page
            </a>
        </div>
</body>
</html>