body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.container-fluid {
    display: flex;
    flex-direction: row; /* Default horizontal layout */
    height: 100%; /* Fill screen height */
}

#sidebar {
    width: 25%;
    max-width: 300px;
    overflow-y: auto;
    margin-top: 1em;
}

#main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 2em; /* Adds top margin */
    max-width: 100%; /* Maximum width */
}

#filters {
    position: sticky; /* Sticky positioning to fix the block when scrolling */
    top: 1em; /* Distance from the top of the window */
    width: 25%; /* Initial width */
    max-width: 300px; /* Maximum width */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align contents to the start */
    align-items: center;
    text-align: center;
    margin-bottom: 2em; /* Bottom margin to separate filters from main content */
    z-index: 100; /* Z-index to ensure filters are above content */
}

.form-control {
    max-width: 100%; /* Limit maximum width to avoid horizontal overflow */
}

#image-label, #filters-dropdown {
    max-height: 200px; /* Set maximum height for the dropdown menu */
    overflow-y: auto; /* Add vertical scroll if needed */
    max-width: 300px; 
    min-width: 150px; 
    margin: 0 auto; /* Center the dropdown horizontally */
}

label {
    color: #333; 
    margin-bottom: 0.5em;
    display: block; /* Ensures the label takes up the full width */
}

#drop-area {
    border: 2px dashed #6c757d;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#drop-area.bg-light {
    background-color: #e9ecef;
}

#image-list {
    padding-left: 0;
    list-style: none;
}

#image-list li {
    margin: 0.5em 0;
    text-align: justify;
}

#search-input {
    width: 100%;
    margin-top: 1em; /* Adds top margin */
    margin-bottom: 1em; /* Adds bottom margin */
    padding: 10px; /* Adds padding for better spacing */
}

#upload-button, #search-button {
    width: 100%; /* Full width in vertical layout */
}

h2 a.btn-success {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

h2 a.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

#status-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 5s ease-out; /* Transition for opacity */
}

.file-details {
    text-align: left;
}

@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column; /* Change to vertical layout */
    }

    #sidebar {
        width: 100%; /* Full width in vertical layout */
        max-width: 100%;
    }

    #main-content {
        width: 100%; /* Full width in vertical layout */
        max-width: 100%;
        margin-top: 2em; /* Adds top margin */
    }

    #filters {
        display: none; /* Hide filters in mobile mode */
        width: 100%; /* Occupy full width of the container */
        max-width: 100%;
        margin-top: 0; /* Remove top margin */
        margin-bottom: 0; /* Remove bottom margin */
    }

    #search-input {
        width: calc(100% - 20px); /* Full width minus padding to avoid overflow */
    }
}
